<style>
body{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
</style>
<div style="width: 100%;height: 100%; padding: 0;margin: 0;">
<table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="background-color:antiquewhite">
            <img src="https://drive.google.com/uc?id=1hf1B4g3orf2bWomQZ5FP_tudUroKR4v6" alt="">
            <h1 style="text-align:center;margin:0;">Consulta desde mi web</h1>
        </td>
    </tr>
    <tr>
        <td>
            <!-- Subtabla -->
                <table border="0" align="center" width="100%" style="background-color:beige">
                    <tr>
                        <td>Fecha: {{fecha}}</td>
                    </tr>
                    <tr>
                        <td>Nombre: {{nombre}}</td>
                    </tr>
                    <tr>
                        <td>Correo: {{correo}}</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: dotted 1px;">Mensaje: <blockquote>{{mensaje}}</blockquote></td>
                    </tr>
                </table>
            <!-- /Subtabla -->
        </td>
    </tr>
    <tr>
        <td>
            <small style="text-align:center;display:block">miweb.com | 1994 - 2020</small>
        </td>
    </tr>
</table>
</div>